@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ruslan+Display&display=swap');
@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato-Regular.woff2') format('woff2'), url('../fonts/Lato-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato-Medium.woff2') format('woff2'), url('../fonts/Lato-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato-Bold.woff2') format('woff2'), url('../fonts/Lato-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

/* Стили обнуления */

*, *::before, *::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

li {
	list-style: none;
}

a, a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: inherit;
	font-size: inherit;
}

img {
	vertical-align: top;
}

input[type="text"], input[type="email"], input[type="tel"], textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

button {
	cursor: pointer;
	/*background-color: transparent;*/
}

input, button, textarea {
	font-family: inherit;
}

body {
	font-family: 'Lato', sans-serif;
	font-weight: 500;
	font-size: 20px;
	line-height: 1.4;
	color: #6A6A6A;
}

/*                 header                        */

.header {
	margin-bottom: 55px;
}

.container {
	max-width: 1110px;
	margin: 0 auto;
}

.header__menu {
	font-family: 'Lato', sans-serif;
	padding-top: 60px;
	font-weight: 700;
	font-size: 16px;
}

.header__logo {
	margin-right: 155px;
}

.logo {
	display: inline-block;
}

.logo__link {
	font-family: 'Playfair Display', serif;
	font-size: 24px;
	line-height: 1.3;
	color: #10375C;
}

.menu {
	display: inline-block;
	margin-right: 80px;
}

.menu__list {
	display: inline-block;
}

.menu__item {
	display: inline-block;
	margin-right: 40px;
}

.menu__item:last-child {
	margin-right: 0px;
}

.menu__link {
	font-size: 16px;
	line-height: 28px;
	color: #222831;
}

.header__user {
	display: inline-block;
}

.user__link {
	padding: 12px 24px;
	color: #FF5722;
}

.user__link:hover {
	color: #fff;
	background-color: #FF5722;
}

/*=====================intro========================*/

.intro {
	margin-bottom: 110px;
}

.descrip {
	display: block;
	line-height: 1.3;
	margin-bottom: 10px;
}

.intro__descrip {
	color: #222831;
}

.descrip::after {
	content: '';
	width: 73px;
	height: 2px;
	display: inline-block;
	background-color: #222831;
	vertical-align: middle;
	margin-left: 15px;
}

.intro__title {
	display: inline-block;
	font-family: 'Lora', serif;
	max-width: 660px;
	font-size: 52px;
	line-height: 1.3;
	color: #10375C;
	font-weight: bold;
	margin-right: 60px;
}

.intro__title>span {
	color: #DD2C00;
}

.intro__text {
	display: inline-block;
	max-width: 380px;
	line-height: 1.5;
	vertical-align: top;
	padding-top: 10px;
}

/* ====================why============================= */

.why {
	margin-bottom: 110px;
}

.why__box-left {
	width: 560px;
	display: inline-block;
	vertical-align: top;
	padding-top: 30px;
}

.why__column {
	width: 45%;
	display: inline-block;
}

.item-why {
	display: block;
	margin-bottom: 60px;
}

.item-why:last-child {
	margin-bottom: 0;
}

.item-why__icon {
	display: inline-block;
	margin-right: 25px;
	vertical-align: top;
}

.item-why__content {
	display: inline-block;
}

.item-why__num {
	font-family: 'Lora', serif;
	display: block;
	color: #10375C;
	font-size: 32px;
	margin-bottom: 8px;
}

.item-why__text {
	color: #9A9A9A;
	font-size: 16px;
	line-height: 1.3;
}

.why__box-right {
	display: inline-block;
	max-width: 540px;
	padding: 54px;
	background-color: #10375C;
	color: white;
}

.why__descrip {
	color: #fff;
}

.descrip::after {
	background-color: white;
}

.why__title, .uses__title, .news__title {
	font-family: 'Lora', serif;
	font-size: 40px;
	line-height: 1.2;
	font-weight: bold;
	margin-bottom: 25px;
}

.why__text {
	line-height: 1.5;
}

/* ===================uses======================== */

.uses {
	text-align: center;
	margin-bottom: 110px;
}

.uses__container {
	max-width: 1210px;
	margin: 0 auto;
}

.uses__title {
	color: #0D2C4A;
}

.use__subtitle {
	font-size: 18px;
	line-height: 28px;
	color: #9A9A9A;
	margin-bottom: 55px;
}

.uses__company {
	display: inline-block;
	margin-right: 60px;
	vertical-align: middle;
}

.uses__company:last-child {
	margin-right: 0;
}

/* ======================news============================ */

.news {
	background-color: #F8F8F8;
	padding-top: 50px;
	padding-bottom: 50px;
}

.news__top {
	position: relative;
}

.news__title {
	display: inline-block;
	color: #10375C;
	margin-bottom: 55px;
}

.news__more {
	position: absolute;
	right: 0;
	top: 25%;
	color: #FF5722;
}

.news__more::after {
	content: '';
	background: url('../img/arrow-down.svg') no-repeat;
	width: 32px;
	height: 32px;
	display: inline-block;
	vertical-align: middle;
}

.card-news__item {
	display: inline-block;
	max-width: 350px;
	max-height: 340px;
	background-color: #fff;
	vertical-align: top;
	margin-right: 24px;
}

.card-news__item:last-child {
	margin-right: 0;
}

.card-news__content {
	padding: 15px;
}

.card-news__title {
	font-family: 'Lora', serif;
	font-size: 22px;
	line-height: 28px;
	color: #222831;
	margin-bottom: 5px;
}

.card-news__name {
	font-size: 16px;
	line-height: 26px;
	color: #9A9A9A;
}